<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Winform.Properties.Settings.UserdbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\drago\Desktop\Projects\IOTProj\WebForm_DB_Createuser\Userdb.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
      <!--<add name="Winform.Properties.Settings.UserdbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\test\Documents\Visual Studio 2015\Projects\IOTProj\WebForm_DB_Createuser\Userdb.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>